In [50]:
# !pip install pyspark

In [51]:
# Import packages
from pyspark.sql import SparkSession
from pyspark import SparkFiles

import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [52]:
# 1. Read in the AWS S3 bucket into a DataFrame.
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"
spark.sparkContext.addFile(url)
home_sales_df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep=",", header=True)

# Show DataFrame
home_sales_df.show()

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [53]:
# 2. Create a temporary view of the DataFrame.
home_sales_df.createOrReplaceTempView('sales')

In [54]:
# 3. What is the average price for a four bedroom house sold in each year rounded to two decimal places?
print('The average price of a home with 4 bedrooms, per year it was sold, is the following:')
query="Select Year(date) as Year, Round(AVG(price),2) as Average_Price from sales where bedrooms=4 group by Year order by Year desc"
spark.sql(query).show()

The average price of a home with 4 bedrooms, per year it was sold, is the following:
+----+-------------+
|Year|Average_Price|
+----+-------------+
|2022|    296363.88|
|2021|    301819.44|
|2020|    298353.78|
|2019|     300263.7|
+----+-------------+

In [55]:
# 4. What is the average price of a home for each year the home was built that have 3 bedrooms and 3 bathrooms rounded to two decimal places?
print('''The average price of a home, for each year built, with:
 - 3 bedrooms,
 - 3 bathrooms
 is the following:''')
query="Select date_built as Year_Built, Round(AVG(price),2) as Average_Price from sales where bedrooms=3 and bathrooms=3 group by Year_Built order by Year_Built desc"
spark.sql(query).show()

The average price of a home, for each year built, with:
 - 3 bedrooms,
 - 3 bathrooms
 is the following:
+----------+-------------+
|Year_Built|Average_Price|
+----------+-------------+
|      2017|    292676.79|
|      2016|    290555.07|
|      2015|     288770.3|
|      2014|    290852.27|
|      2013|    295962.27|
|      2012|    293683.19|
|      2011|    291117.47|
|      2010|    292859.62|
+----------+-------------+

In [56]:
# 5. What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet rounded to two decimal places?
print('''The average price, for each year built, of a home with:
 - 3 bedrooms,
 - 3 bathrooms,
 - 2 floors,
 - more than 2,000 square feet
 is the following:''')
query="""Select date_built as Year_Built, Round(AVG(price),2) as Average_Price
from sales
where bedrooms=3 and bathrooms=3 and floors=2 and sqft_living>=2000
group by Year_Built order by Year_Built"""
spark.sql(query).show()

The average price, for each year built, of a home with:
 - 3 bedrooms,
 - 3 bathrooms,
 - 2 floors,
 - more than 2,000 square feet
 is the following:
+----------+-------------+
|Year_Built|Average_Price|
+----------+-------------+
|      2010|    285010.22|
|      2011|    276553.81|
|      2012|    307539.97|
|      2013|    303676.79|
|      2014|    298264.72|
|      2015|    297609.97|
|      2016|     293965.1|
|      2017|    280317.58|
+----------+-------------+

In [57]:
# 6. What is the "view" rating for the average price of a home, rounded to two decimal places, where the homes are greater than
# or equal to $350,000? Although this is a small dataset, determine the run time for this query.
print("The distribution of 'view' counts with average price of a home >= $350,000 is the following:")
query="""Select view, Round(AVG(price),2) as Average_Price
from sales
Group by view
having AVG(price)>=350000
order by view desc """

start_time = time.time()
spark.sql(query).show()
end_time=time.time()
reg_temp_table_run_duration=end_time-start_time

print("--- %s seconds ---" % (reg_temp_table_run_duration))

The distribution of 'view' counts with average price of a home >= $350,000 is the following:
+----+-------------+
|view|Average_Price|
+----+-------------+
|  99|   1061201.42|
|  98|   1053739.33|
|  97|   1129040.15|
|  96|   1017815.92|
|  95|    1054325.6|
|  94|    1033536.2|
|  93|   1026006.06|
|  92|    970402.55|
|  91|   1137372.73|
|  90|   1062654.16|
|  89|   1107839.15|
|  88|   1031719.35|
|  87|    1072285.2|
|  86|   1070444.25|
|  85|   1056336.74|
|  84|   1117233.13|
|  83|   1033965.93|
|  82|    1063498.0|
|  81|   1053472.79|
|  80|    991767.38|
+----+-------------+
only showing top 20 rows

--- 0.7172009944915771 seconds ---

In [58]:
# 7. Cache the the temporary table home_sales.
spark.sql("cache table sales")

DataFrame[]

In [59]:
# 8. Check if the table is cached.
spark.catalog.isCached('sales')

True

In [60]:
# function for comparing two runtime durations and printing out the results of output
def compare_time(current_temp_table_run_duration, current_label, to_compare_with_label, to_compare_with_duration):
    run_difference=abs(to_compare_with_duration-current_temp_table_run_duration)
    if to_compare_with_duration>current_temp_table_run_duration:
    perc=100*run_difference/to_compare_with_duration
    winner=current_label
    else:
    perc=100*run_difference/current_temp_table_run_duration
    winner=to_compare_with_label

    print("--- %s seconds ---" % (current_temp_table_run_duration))
    print(f'Running query for {winner} data showed better time with the difference {round(run_difference,2)} second(s), which is {round(perc,2)}% less.')

In [61]:
# 9. Using the cached data, run the query that filters out the view ratings with average price
#  greater than or equal to $350,000. Determine the runtime and compare it to uncached runtime.

query="""Select view, Round(AVG(price),2) as Average_Price
from sales
Group by view
having AVG(price)>=350000
order by view desc """

start_time = time.time()
spark.sql(query).show()
end_time=time.time()
cached_temp_table_run_duration=end_time-start_time
compare_time(cached_temp_table_run_duration, 'Cached', 'Unchached', reg_temp_table_run_duration)

+----+-------------+
|view|Average_Price|
+----+-------------+
|  99|   1061201.42|
|  98|   1053739.33|
|  97|   1129040.15|
|  96|   1017815.92|
|  95|    1054325.6|
|  94|    1033536.2|
|  93|   1026006.06|
|  92|    970402.55|
|  91|   1137372.73|
|  90|   1062654.16|
|  89|   1107839.15|
|  88|   1031719.35|
|  87|    1072285.2|
|  86|   1070444.25|
|  85|   1056336.74|
|  84|   1117233.13|
|  83|   1033965.93|
|  82|    1063498.0|
|  81|   1053472.79|
|  80|    991767.38|
+----+-------------+
only showing top 20 rows

--- 0.6097216606140137 seconds ---
Running query for Cached data showed better time with the difference 0.11 second(s), which is 14.99% less.

In [62]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data
home_sales_df.write.partitionBy("date_built").mode("overwrite").parquet("home_sales_partitioned")

In [63]:
# 11. Read the parquet formatted data.
home_sales_df_p=spark.read.parquet('home_sales_partitioned')

In [64]:
# 12. Create a temporary table for the parquet data.
home_sales_df_p.createOrReplaceTempView('sales_p')

In [65]:
# 13. Run the query that filters out the view ratings with average price of greater than or equal to $350,000
# with the parquet DataFrame. Round your average to two decimal places.
# Determine the runtime and compare it to the cached version.

query="""Select view, Round(AVG(price),2) as Average_Price
from sales_p
Group by view
having AVG(price)>=350000
order by view desc """

start_time = time.time()
spark.sql(query).show()
end_time=time.time()
parquet_temp_table_run_duration=end_time-start_time
compare_time(parquet_temp_table_run_duration, 'Parqueted', 'Cached', reg_temp_table_run_duration)

+----+-------------+
|view|Average_Price|
+----+-------------+
|  99|   1061201.42|
|  98|   1053739.33|
|  97|   1129040.15|
|  96|   1017815.92|
|  95|    1054325.6|
|  94|    1033536.2|
|  93|   1026006.06|
|  92|    970402.55|
|  91|   1137372.73|
|  90|   1062654.16|
|  89|   1107839.15|
|  88|   1031719.35|
|  87|    1072285.2|
|  86|   1070444.25|
|  85|   1056336.74|
|  84|   1117233.13|
|  83|   1033965.93|
|  82|    1063498.0|
|  81|   1053472.79|
|  80|    991767.38|
+----+-------------+
only showing top 20 rows

--- 0.9075253009796143 seconds ---
Running query for Cached data showed better time with the difference 0.19 second(s), which is 20.97% less.

In [66]:
# 14. Uncache the home_sales temporary table.
spark.sql("uncache table sales")

DataFrame[]

In [67]:
# 15. Check if the home_sales is no longer cached

spark.catalog.isCached('sales')

False